$black: rgb(0, 0, 0);
$blackAlfa30: rgba(0, 0, 0, 0.3);
$blackAlfa20: rgba(0, 0, 0, 0.2);
$blackAlfa50: rgba(0, 0, 0, 0.5);
$blackAlfa80: rgba(0, 0, 0, 0.8);
$darkBlue: rgba(4, 30, 65, 1);
$lightBlue: rgb(0, 154, 190);
$lightBlueSelected: rgb(0, 180, 195);
$pink: rgb(222, 54, 244);
$red: rgb(244, 67, 54);
$lightRed: rgb(250, 192, 187);
$brown: rgb(143, 88, 60);
$orange: rgba(239, 134, 65, 1);
$yellow: rgba(255, 214, 0, 1);
$green: rgb(76, 175, 80);
$blue: rgb(21, 101, 192);
$blueSelected: rgb(0, 119, 255);
$lightGrey: rgb(226, 223, 223);
$grey: rgb(66, 66, 66);
$white: rgb(255, 255, 255);
$whiteAlfa60: rgba(255, 255, 255, 0.639);
$whiteAlfa25: rgba(255, 255, 255, 0.25);
$whiteAlfa10: rgba(255, 255, 255, 0.1);
$whiteAlfa05: rgba(255, 255, 255, 0.05);
$whiteAlfa04: rgba(255, 255, 255, 0.04);

:export {
  black: $black;
  darkBlue: $darkBlue;
  lightBlue: $lightBlue;
  white: $white;
  pink: $pink;
  red: $red;
  lightRed: $lightRed;
  brown: $brown;
  orange: $orange;
  yellow: $yellow;
  green: $green;
  blue: $blue;
  lightGrey: $lightGrey;
  grey: $grey;
  orange: $orange;
  whiteAlfa25: $whiteAlfa25;
  whiteAlfa04: $whiteAlfa04;
  whiteAlfa10: $whiteAlfa10;
  blackAlfa30: $blackAlfa30;
  whiteAlfa60: $whiteAlfa60;
  blackAlfa50: $blackAlfa50;
  blackAlfa80: $blackAlfa80;
}
